<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006237194994-6l0vqo9al9d1jhjbonh6hsgbsnv0f9pn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006237194994-6l0vqo9al9d1jhjbonh6hsgbsnv0f9pn</string>
	<key>API_KEY</key>
	<string>AIzaSyDtWfisE1asFGtcCWXglIKtREs_bH3-QuI</string>
	<key>GCM_SENDER_ID</key>
	<string>1006237194994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.openhousemarketingsystem.open</string>
	<key>PROJECT_ID</key>
	<string>open-6eecb</string>
	<key>STORAGE_BUCKET</key>
	<string>open-6eecb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006237194994:ios:e45673ac04425952450e6b</string>
	<key>DATABASE_URL</key>
	<string>https://open-6eecb.firebaseio.com</string>
</dict>
</plist>